<h1 class="welcome_heading">Welcome to the authorization app</h1>
<h2 class="welcome_heading">Create an account or login</h2>

<a href="/users/register">
    <button class="btn">Register</button></a>
<a href="/users/login"><button class="btn">Login</button></a>